In [1]:
!pip install mysql-connector-python
!pip install mysql-connector

Requirement already satisfied: mysql-connector-python in /Users/marta/anaconda3/envs/adalabenv/lib/python3.10/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /Users/marta/anaconda3/envs/adalabenv/lib/python3.10/site-packages (from mysql-connector-python) (4.21.12)
Requirement already satisfied: mysql-connector in /Users/marta/anaconda3/envs/adalabenv/lib/python3.10/site-packages (2.2.9)

In [6]:
import pandas as pd

In [8]:
df_premios = pd.read_csv("4.PREMIOS_OSCAR.csv", index_col = 0)
df_premios.head()

,Fecha de la ceremonia,Mejor película,Mejor director,Mejor actor,Mejor actriz
0,1990,Driving Miss Daisy,O. Stone,D. Day-Lewis,J. Tandy
1,1991,Dances with Wolves,K. Costner,J. Irons,K. Bates
2,1992,The Silence of the Lambs,J. Demme,A. Hopkins,J. Foster
3,1993,Unforgiven,C. Eastwood,A. Pacino,E. Thompson
4,1994,Schindler's List,S. Spielberg,T. Hanks,H. Hunter

In [9]:
lista_tuplas_premios = [tuple(x) for x in df_premios.values]
lista_tuplas_premios

[(1990, ' Driving Miss Daisy', ' O. Stone', ' D. Day-Lewis', ' J. Tandy'),
 (1991, ' Dances with Wolves', ' K. Costner', ' J. Irons', ' K. Bates'),
 (1992, ' The Silence of the Lambs', ' J. Demme', ' A. Hopkins', ' J. Foster'),
 (1993, ' Unforgiven', ' C. Eastwood', '  A. Pacino', ' E. Thompson'),
 (1994, " Schindler's List", ' S. Spielberg', ' T. Hanks', ' H. Hunter'),
 (1995, ' Forrest Gump', ' R. Zemeckis', ' T. Hanks', ' J. Lange'),
 (1996, '  Braveheart', ' M. Gibson', ' N. Cage', ' S. Sarandon'),
 (1997, ' The English Patient', ' A. Minghella', ' G. Rush', ' F. McDormand'),
 (1998, 'Titanic', ' J. Cameron', ' J. Nicholson', ' H. Hunt'),
 (1999, ' Shakespeare in Love', ' S. Spielberg', ' R. Benigni', ' G. Paltrow'),
 (2000, ' American Beauty', ' S. Mendes', ' K. Spacey', ' H. Swank'),
 (2001, ' Gladiator', ' S. Soderbergh', ' R. Crowe', ' J. Roberts'),
 (2002, ' A Beautiful Mind', ' R. Howard', ' D. Washington', ' H. Berry'),
 (2003, ' Chicago', ' R. Polanski', ' A. Brody', '  N. Kidman'),
 (2004,
  ' The Lord of the Rings: The Return of the King',
  ' P. Jackson',
  ' S. Penn',
  ' C. Theron'),
 (2005, ' Million Dollar Baby', ' C. Eastwood', ' J. Foxx', ' H. Swank'),
 (2006, ' Crash', ' A. Lee', ' P. S. Hoffman', ' R. Witherspoon'),
 (2007, ' The Departed', ' M. Scorsese', ' F. Whitaker', ' H. Mirren'),
 (2008,
  ' No Country for Old Men',
  ' J. Coen E. Coen',
  ' D. Day-Lewis',
  ' M. Cotillard'),
 (2009, '  Slumdog Millionaire', ' D. Boyle', ' S. Penn', ' K. Winslet'),
 (2010, ' The Hurt Locker', ' K. Bigelow', ' J. Bridges', ' S. Bullock'),
 (2011, " The King's Speech", ' T. Hooper', ' C. Firth', '  N. Portman'),
 (2012, ' The Artist', ' M. Hazanavicius', ' J. Dujardin', ' M. Streep'),
 (2013, ' Argo', ' A. Lee', ' D. Day-Lewis', ' J. Lawrence'),
 (2014,
  '  12 Years a Slave',
  ' A. Cuarón',
  ' M. McConaughey',
  ' C. Blanchett'),
 (2015, ' Birdman or ', ' A. G. Iñárritu', ' E. Redmayne', ' J.Moore'),
 (2016, ' Spotlight', ' A. G. Iñárritu', ' L. DiCaprio', ' B. Larson'),
 (2017, ' Moonlight', '  D. Chazelle', ' C. Affleck', ' E. Stone'),
 (2018, ' The Shape of Water', ' G. del Toro', ' G. Oldman', ' F. McDormand'),
 (2019, ' Green Book', ' A. Cuarón', '  R. Malek', ' O. Colman'),
 (2020, ' Parasite', ' Bong J.', '  J. Phoenix', ' R. Zellweger'),
 (2021, ' Nomadland', ' C. Zhao', ' A. Hopkins', ' F. McDormand'),
 (2022, '  CODA', ' J. Campion', ' W. Smith', ' J. Chastain'),
 (2023,
  ' Everything Everywhere All at Once',
  ' D. Kwan D. Scheinert',
  ' B. Fraser',
  ' M. Yeoh')]

In [ ]:
# nuevo_orden = ["2", "1", "0", "3", "4"]
# df_pelis = df_peli.reindex(columns = nuevo_orden)

# Forma 1 (menos correcta)

In [ ]:
print("INSERT INTO peliculas VALUES")
for peli in lista_tuplas_pelis:
    print(peli, ",")

# Forma 2 (más correcta)

In [16]:
import mysql.connector
from mysql.connector import errorcode

In [18]:
cnx = mysql.connector.connect(user = "root",
                              password = "AlumnaAdalab",
                              host = "127.0.0.1",
                              database = "NETCHILL")#Nuesta base de datos de mysql
#Nos permite enviar informacion atraves de la conexciosm
mycursor = cnx.cursor()


#Escribimos la query aqui
#¡¡¡El ORDEN IMPORTA!!! --> El primer dato debe ser el primer elemento de la lista de tuplas
sql_pelis = "INSERT INTO Premios (fecha_celebracion, mejor_pelicula, mejor_director, mejor_actor, mejor_actriz) VALUES (%s, %s, %s, %s,%s)" 
                        #peliculas el nombre del archivo correspondiente
try:
    mycursor.executemany(sql_pelis, lista_tuplas_premios)
    cnx.commit()
    print(mycursor.rowcount,"registros insertados")
except:
    print("Ha habido un error en la inserción")

34 registros insertados

In [ ]:
#Primero eliminamos actores duplicados convirtiendolo en set que quita los repetidos
set(lista_tuplas_act)
print(len(lista_tuplas_act), len(set(lista_tuplas_act)))

In [ ]:
lista_tuplas_act = list(set(lista_tuplas_act))
#Limpiamos corchetes y comillas antes de meter en mysql

In [ ]:
cnx = mysql.connector.connert(user = "root",
                              password = "AlumnaAdalab",
                              hots = "127.0.0.1",
                              database = "proyecto_cine")#proyectocine nuesto base de datos de mysql
#Nos permite envir informacion atraves de la conexciosm
mycursor = cnx.cursor()


#Escribimos la query aqui
#¡El ORDEN IMPORTA!!! --> El primer dato debe ser el primer elemento de la lista de tuplas
sql_actores = "INSERT INTO actores (nombre, año_nacimiento, conocido_por, que_hace, premios) VALUES (%s, %s,%s, %s,%s)" 
                        #peliculas el nombre del archivo correspondiente
try:
    mycursor,executemany(sql_actores, lista_tuplas_act)
    cnx.commit()
    print(mycursor.rowcount,"registros insertados")
except:
    print("Ha habido un error en la inserción")